body {
    background-color: #f5f4ed;
    font-family: 'Anton', sans-serif;
    font-family: 'Athiti', sans-serif;
}

.head {
    padding: 15px;
}

.box {
    background-color: #fff;
    border: 3px solid #5a3f05;
    border-radius: 10px;
    color: #5a3f05;
    padding: 20px 15px 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.status {
    padding: 25px 15px 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

* {
    font-size: 2.3vh;
}

.img {
    width: 75%;
    height: auto;
}

.nn {
    width: 30%;
    height: auto;
    margin-bottom: 10%;
}

.boxsex {
    height: 85%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

@media (max-width: 767px) {
    .boxsex {
        padding-top: 5vh;
        padding-bottom: 2vh;
    }
    * {
        font-size: 3vw;
    }
}