/* @media screen and (min-width: 2264) {
    .wildlife-text {
        text-align: center;
        font-size: 2px;
    }
    .box-white-text {
        font-weight: 600;
        text-align: center;
        padding: 5vh 0vw;
        font-size: 50vw;
    }
} */