html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h2 {
    margin: 0;
    font-family: 'Mitr', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Mitr', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#title {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #7ab0ca;
    background-image: url(pic/background.png);
    background-size: cover;
    background-position: center;
}

.text1,
.text2 {
    font-size: 8vw;
    animation: text 5s 1;
    animation-iteration-count: infinite;
}

@keyframes text {
    0% {
        color: #98424b;
        letter-spacing: 5px;
        /* margin-bottom: -40px; */
    }
    50% {
        letter-spacing: 20px;
        /* margin-bottom: -40px; */
    }
    100% {
        letter-spacing: 5px;
        /* margin-bottom: 40px; */
    }
}

.topic {
    margin: 0;
    font-family: 'Bowlby One SC', cursive;
    font: bold;
    font-size: 100px;
    letter-spacing: 8px;
    color: #98424b;
    -webkit-text-stroke: 2px #cbd4d1;
    padding-top: 18vh;
}

.hyperlink-start {
    text-decoration: none;
    color: black;
}

#box {
    margin-top: 13vh;
    text-decoration: none;
}

.start {
    background-color: #B5D6B5;
    width: 20vw;
    height: 10vh;
    text-align: center;
    border: 0.5vh solid #5A7666;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

.start-dot {
    font-family: 'Mitr', sans-serif;
    text-align: center;
    font-size: 2.5vw;
    color: black;
    margin: 0;
    text-decoration: none;
}

.start:hover {
    box-shadow: 3px 3px 50px rgb(83, 99, 90);
    transition: 1s;
    cursor: pointer;
}


/* history */

#history {
    background-image: url(pic/background021.png), linear-gradient(#3e594a, #607b68, #89a688);
    background-size: 100%;
    height: 100%;
}

img {
    position: absolute;
}

.flower {
    width: 100%;
    height: 100%;
}

.animal {
    margin: 0;
    font-family: 'Mitr', sans-serif;
    text-align: center;
    padding-top: 15vh;
    font-size: 8vmin;
    font-weight: 200;
}

.line {
    font-size: 3vw;
    text-align: center;
    margin: 0;
}

.data-his {
    font-size: 2.3vmin;
    font-family: 'Mitr', sans-serif;
    /* text-indent: 100px; */
    text-align: justify;
    line-height: 3;
    width: 70%;
    padding-top: 2vh;
    margin-left: 15%;
    display: inline-block;
}

.hyperlink-name {
    text-decoration: none;
    color: unset;
}

#box-name {
    margin-top: 4vh;
    text-decoration: none;
    text-align: center;
}

.name {
    background-color: #B5D6B5;
    width: 30vw;
    height: 7vh;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}

button.name {
    border-color: #B5D6B5;
}

.name-dot {
    font-family: 'Mitr', sans-serif;
    text-align: center;
    font-size: 1.7vw;
    color: black;
    margin: auto;
    padding: 8;
}

.name:hover {
    background-color: #3e594a;
    border-color: #3e594a;
    transition: 1s;
    cursor: pointer;
}

.name-dot:hover {
    color: #b3cba7;
    transition: 0.5s;
}


/* name */

#one, #two, #three, #four {
    margin-bottom: 50px;
    text-align: center;
}

.reptile, .mammal, .bird, .fish {
    margin-top: 25px;
    font-size: 4.5vmin;
}

#name {
    background-image: url(pic/background03.png), linear-gradient(#89a688, #b3cba7);
    background-size: 100%;
    height: 100%;
}

.flower2 {
    width: 100%;
}

#list {
    text-align: center;
    padding-top: 3%;
}

.turtle {
    background-color: #92E28B;
    border-color: #92E28B;
    width: 60%;
    height: 10%;
    text-align: center;
    font-size: 2vmin;
    border-radius: 10px;
    margin: auto;
    padding-top: 10;
    margin-top: 10%;
    box-shadow: 5px 8px 5px rgb(83, 99, 90);
}

.mammal-box {
    background-color: #FFE4B5;
    border-color: #FFE4B5;
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 1vmin;
    border-radius: 10px;
    margin: auto;
    padding-top: 1vh;
    margin-top: 10%;
    box-shadow: 5px 8px 5px rgb(83, 99, 90);
}

.bird-box {
    background-color: #B2E2FF;
    border-color: #B2E2FF;
    width: 60%;
    height: 10%;
    text-align: center;
    font-size: 2vmin;
    border-radius: 10px;
    margin: auto;
    padding-top: 10;
    margin-top: 10%;
    box-shadow: 5px 8px 5px rgb(83, 99, 90);
}

.fish-box {
    background-color: #95BAFC;
    border-color: #95BAFC;
    width: 60%;
    height: 10%;
    text-align: center;
    font-size: 2vmin;
    border-radius: 10px;
    margin: auto;
    padding-top: 10;
    margin-top: 10%;
    box-shadow: 5px 8px 5px rgb(83, 99, 90);
}


/* ***** test สี hover ***** */

.turtle:hover {
    background-color: #66ffa3;
    border-color: #66ffa3;
    transition: 1s;
    cursor: pointer;
}

.mammal-box:hover {
    background-color: rgb(255, 208, 56);
    border-color: rgb(255, 208, 56);
    transition: 1s;
    cursor: pointer;
}

.bird-box:hover {
    background-color: rgb(95, 191, 251);
    border-color: rgb(95, 191, 251);
    transition: 1s;
    cursor: pointer;
}

.fish-box:hover {
    background-color: rgb(75, 141, 255);
    border-color: rgb(75, 141, 255);
    transition: 1s;
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 1540px) {
    .turtle {
        text-align: center;
        font-size: 18px;
    }
    .mammal-box {
        text-align: center;
        font-size: 18px;
    }
    .bird-box {
        text-align: center;
        font-size: 18px;
    }
    .fish-box {
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 1539px) {
    .mammal-box {
        text-align: center;
        font-size: 17px;
    }
}

@media screen and (max-width: 1480px) {
    .bird-box {
        text-align: center;
        font-size: 17px;
    }
}

@media screen and (max-width: 1461px) {
    .mammal-box {
        text-align: center;
        font-size: 16px;
    }
    .bird-box {
        text-align: center;
        font-size: 16px;
    }
}

@media screen and (max-width: 1382px) {
    .mammal-box {
        text-align: center;
        font-size: 15px;
    }
    .bird-box {
        text-align: center;
        font-size: 15px;
    }
}

@media screen and (max-width: 1304px) {
    .mammal-box {
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 1248px) {
    .mammal-box {
        text-align: center;
        font-size: 14px;
    }
    .bird-box {
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 1230px) {
    .mammal-box {
        text-align: center;
        font-size: 13px;
    }
    .bird-box {
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 1175px) {
    .bird-box {
        text-align: center;
        font-size: 13px;
    }
    .turtle {
        text-align: center;
        font-size: 13px;
    }
}

@media screen and (max-width: 1094px) {
    .bird-box {
        text-align: center;
        font-size: 12px;
    }
    .fish-box {
        text-align: center;
        font-size: 16px;
    }
}